@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
    
  font-family: "Red Hat Display", sans-serif;
  background: url(./images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
/* this is one way to make as responsive 
    another way is  used  different image for mobile and desktop*/
  background-size: contain;  
  /* background-position: top; */
  background-color: var(--pale-blue);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.person{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.text{
  margin: 25px 35px ;
}
.text h1{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 15px;
}
.text p{
    font-size: 1.0rem;
    color: var(--desaturated-blue);
    margin-bottom: 20px;
    line-height: 1.3rem;
}

.align{
    margin: 25px;
}
.plan{
    display: flex;
    padding: 13px 0;
    justify-content:space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
 
   
}
.plan h2{
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--dark-blue);
  
}
.change{
    font-size: 0.8rem;
    color: var(--bright-blue);
    font-weight: 900;
    cursor: pointer;
}
.plan p{
    font-size: 0.9rem;
    color: var(--desaturated-blue);
    margin-top: 5px;
}
.plan-text{
    margin-left: 15px;
}
.music{
    margin-left: -8px;
    display: flex;
    align-items: center;
}
